.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
}

/* ==========================================
    CUSTOM UTILS CLASSES
  ========================================== */
body,
html {
  height: 100%;
}

/* SOCIAL STUFF */
.social-container {
  padding: 6px 30px;
  text-align: center;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  margin-top: 7px;
  color: #eb3223;
}

a.facebook {
  margin-top: 7px;
  color: #4968ad;
}

a.twitter {
  margin-top: 7px;
  color: #49a1eb;
}

a.instagram {
  margin-top: 7px;
  color: #8a3ab9;
}
